<template>
  <v-container class="d-flex flex-column align-center" style="max-width: 600px">
    <DatePicker class="mb-12 w-100" />
    <EventGroup
      class="w-100"
      title="Udalosti"
      :subtitle="`Pre deň ${selectedDate.toLocaleDateString('sk-SK')}`"
      :loading="loading"
      :events="displayEvents"
    />
  </v-container>
</template>

<script setup>
import { ref, toRef } from "vue";

import DatePicker from "@/components/DatePicker.vue";
import EventGroup from "@/components/EventGroup.vue";

import { useAppStore } from "@/store/app";
const appStore = useAppStore();

import { useDateStore } from "@/store/date";
import { computed } from "vue";
const dateStore = useDateStore();

const selectedDay = toRef(dateStore, "selectedDay");
const selectedMonth = toRef(dateStore, "selectedMonth");
const selectedYear = toRef(dateStore, "selectedYear");
const selectedDate = computed(() => {
  return new Date(selectedYear.value, selectedMonth.value, selectedDay.value);
});

console.log(selectedDate);

// TODO: loading
const loading = ref(true);
setTimeout(() => {
  loading.value = false;
}, 3000);

const displayEvents = computed(() => {
  return appStore.getEvents(selectedDate.value.toDateString());
});
</script>

<style scoped></style>
