<template>
  <v-container
    class="mt-2 d-flex flex-column align-center"
    style="max-width: 600px"
  >
    <div class="w-100">
      <EventGroup
        title="Dnešné udalosti"
        subtitle="Piatok, 9. 6. 2023 - zmeny nie sú možné"
        :loading="loading"
        :events="todaysEvents"
      />
      <EventGroup
        title="Zajtrajšie udalosti"
        subtitle="Sobota, 10. 6. 2023 - zmeny nie sú možné"
        :loading="loading"
        :events="tomorrowsEvents"
      />
    </div>
  </v-container>
</template>

<script setup>
import { ref } from "vue";
import EventGroup from "@/components/EventGroup.vue";
import { useAppStore } from "@/store/app";

const loading = ref(false);
setTimeout(() => {
  loading.value = false;
  console.log("stop loading");
}, 3000);

const todayDate = new Date().toDateString();
const tomorrow = new Date(new Date().setDate(new Date().getDate() + 1));
const tomorrowDate = tomorrow.toDateString();

const todaysEvents = ref([]);
const tomorrowsEvents = ref([]);

const appStore = useAppStore();

todaysEvents.value = appStore.getEvents(todayDate);
tomorrowsEvents.value = appStore.getEvents(tomorrowDate);
</script>
