<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="2000"
    color="success"
    variant="tonal"
    location="top"
  >
    <template v-slot:actions>
      <v-btn variant="text" @click="snackbar = false">
        <v-icon icon="mdi-close"></v-icon>
      </v-btn>
    </template>
    Zmeny v profile boli uložené.
  </v-snackbar>
  <v-container class="mt-16">
    <div class="d-flex flex-column align-center">
      <div class="profile-flare mt-8" style="max-width: 250px">
        <label for="fileInput">
          <v-img class="image" :src="avatarUrl"></v-img>
        </label>

        <input
          type="file"
          id="fileInput"
          ref="fileInput"
          style="display: none"
          accept="image/*"
          @change="onFileSelected"
        />
      </div>
      <v-btn
        class="mt-12"
        variant="plain"
        prepend-icon="mdi-trash-can"
        size="small"
        @click="removeAvatar()"
        >zmazať fotku</v-btn
      >
    </div>

    <v-container class="mt-6 d-flex flex-column align-center">
      <div class="w-100" style="max-width: 400px">
        <v-text-field
          v-model="name"
          clearable
          label="Meno"
          variant="outlined"
          width="100%"
        ></v-text-field>

        <v-text-field
          v-model="email"
          clearable
          label="Email"
          variant="outlined"
          width="100%"
        ></v-text-field>

        <div class="d-flex justify-space-between align-center mt-6">
          <v-btn
            color="primary"
            variant="tonal"
            prepend-icon="mdi-content-save"
            @click="saveUserProfile"
          >
            Uložiť zmeny
          </v-btn>
          <v-btn
            color="grey"
            variant="text"
            prepend-icon="mdi-logout"
            @click="logOut()"
          >
            Odhlásiť sa
          </v-btn>
        </div>
      </div>
    </v-container>
  </v-container>
</template>

<script setup>
import { toRef, ref } from "vue";
import { useUserStore } from "@/store/user";
import router from "@/router";

const snackbar = ref(false);

const userStore = useUserStore();
const name = toRef(userStore, "name");
const email = toRef(userStore, "email");
const avatar = toRef(userStore, "avatar");
const avatarUrl = toRef(userStore, "avatarUrl");
console.log(avatarUrl.value);

function removeAvatar() {
  // TODO: clean up avatar and avatar URL...
  if (!avatar.value) {
    // if the user has a profile photo, change it to an avatar
    // userStore.setAvatar(`https://avatars.dicebear.com/api/bottts/${name}.svg`);
    userStore.setAvatar(
      `https://api.dicebear.com/6.x/identicon/svg?seed=${name.value}`
    );
  }
}

function onFileSelected(event) {
  const file = event.target.files[0];
  if (file) {
    // Do something with the selected file, for example, upload it and update the avatar in the store
    // For demonstration purposes, I'll just set the avatar to a local file URL
    const localURL = URL.createObjectURL(file);
    userStore.setAvatar(localURL);
  }
}

async function saveUserProfile() {
  // TODO: make request to the backend which would post name / email
  const success = await userStore.saveUserProfile();
  if (success) snackbar.value = true;
}

function logOut() {
  // TODO: logout logic - clear JWT, update store, etc...
  userStore.logOut();
  router.push({ name: "Home" });
}
</script>

<style scoped>
.profile-flare {
  width: 50%;
  margin: 0 auto;
  background: rgb(191, 191, 191);
  aspect-ratio: 1/1;
  border-radius: 50%;

  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.04),
    0 0 0 80px rgba(255, 255, 255, 0.03);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
</style>
