<template>
  <div class="wrapper">
    <div class="d-flex align-center justify-space-between mb-4">
      <div class="d-flex align-center">
        <p class="mr-2">
          <span style="text-transform: capitalize" class="mr-1">{{
            currentMonthName
          }}</span>
          <span>{{ selectedYear }}</span>
        </p>
        <!-- <v-icon icon="mdi-menu-down"></v-icon> -->
      </div>
      <v-btn @click="returnToToday()" size="small">Dnešný deň</v-btn>
      <div class="d-flex align-center">
        <v-icon
          icon="mdi-chevron-left"
          size="large"
          class="mr-4"
          @click="previousMonth()"
        ></v-icon>
        <v-icon
          icon="mdi-chevron-right"
          size="large"
          @click="nextMonth()"
        ></v-icon>
      </div>
    </div>

    <!-- create grid of days in month -->
    <div>
      <!-- Header row with day names -->
      <div class="d-flex align-center justify-space-around">
        <div
          v-for="dayName in dayNames"
          :key="dayName"
          class="day-cell font-weight-light text-disabled"
        >
          {{ dayName }}
        </div>
      </div>

      <!-- Grid of days -->
      <div class="days-grid">
        <div
          v-for="day in displayDays"
          :key="day"
          :class="[
            'day-cell',
            { today: isCurrentDay(day) },
            { selected: day == selectedDay },
          ]"
          @click="day && selectDay(day)"
        >
          {{ day }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { toRef, ref, computed } from "vue";
import { useDateStore } from "@/store/date";

const dateStore = useDateStore();
const today = toRef(dateStore, "today");
const selectedDay = toRef(dateStore, "selectedDay");
const selectedMonth = toRef(dateStore, "selectedMonth");
const selectedYear = toRef(dateStore, "selectedYear");

// Array of day names
const dayNames = ["PO", "UT", "ST", "ŠT", "PI", "SO", "NE"];

const currentDay = ref(today.value.getDate());
const currentMonth = ref(today.value.getMonth());
const currentYear = ref(today.value.getFullYear());

const showDate = computed(() => {
  return new Date(selectedYear.value, selectedMonth.value, 1);
});

function selectDay(day) {
  selectedDay.value = day;
}

function previousMonth() {
  selectedDay.value = null;
  if (selectedMonth.value === 0) {
    selectedMonth.value = 11;
    selectedYear.value--;
    return;
  }

  selectedMonth.value--;
}

function nextMonth() {
  selectedDay.value = null;
  if (selectedMonth.value === 11) {
    selectedMonth.value = 0;
    selectedYear.value++;
    return;
  }

  selectedMonth.value++;
}

function returnToToday() {
  selectedMonth.value = currentMonth.value;
  selectedYear.value = currentYear.value;
  selectedDay.value = currentDay.value;
}

function isCurrentDay(day) {
  return (
    currentYear.value === selectedYear.value &&
    currentMonth.value === selectedMonth.value &&
    day == currentDay.value
  );
}

const currentMonthName = computed(() => {
  const today = showDate.value;
  const options = { month: "long" };
  const currentMonthName = today.toLocaleString("sk-SK", options);
  return currentMonthName;
});

// Function to get the number of days in the current month
const displayDays = computed(() => {
  const relativeDate = showDate.value;

  const year = relativeDate.getFullYear();
  const month = relativeDate.getMonth();

  const lastDayOfMonth = new Date(
    currentYear.value,
    currentMonth.value + 1,
    0
  ).getDate();

  const currentMonthDays = Array.from(
    { length: lastDayOfMonth },
    (_, index) => index + 1
  );

  // first day of the month
  const firstDayOfMonth = new Date(year, month, 1).getDay();
  const mapFirstDayOfMonthToWeekStartingOnMonday = (day) =>
    day === 0 ? 6 : day - 1;

  const displayDays = [
    ...Array(mapFirstDayOfMonthToWeekStartingOnMonday(firstDayOfMonth)).fill(
      ""
    ),
    ...currentMonthDays,
  ];

  return displayDays;
});
</script>

<style scoped>
/* Style the grid */
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px 0;
  justify-items: center;
}

/* Style the day cells */
.day-cell {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.today {
  outline: 2px solid #d0bcff;
  color: #d0bcff;
  outline-offset: -2px;
}

.selected {
  background-color: #d0bcff;
  color: #381e72;
}
</style>
