<template>
  <v-card
    class="pa-3 my-2 text-medium-emphasis"
    max-width="600"
    rounded="lg"
    elevation="2"
    variant="tonal"
  >
    <div class="d-flex align-center">
      <v-icon
        :icon="attending ? 'mdi-check-circle' : 'mdi-circle'"
        size="small"
        :color="attending ? 'success' : 'grey-darken-3'"
      ></v-icon>
      <h3 class="ml-3 font-weight-regular">{{ title }}</h3>
      <v-icon
        v-if="locked"
        icon="mdi-lock"
        class="ml-auto"
        size="x-small"
      ></v-icon>
    </div>

    <div class="d-flex justify-space-between mt-3 align-end">
      <div class="">
        <div class="d-flex align-center">
          <v-icon icon="mdi-clock" size="x-small"></v-icon>
          <span class="text-caption ml-2">{{ displayTime }}</span>
        </div>
        <div class="d-flex align-center">
          <v-icon icon="mdi-map-marker" size="x-small"></v-icon>
          <span class="text-caption ml-2">{{ location }}</span>
        </div>
      </div>

      <v-dialog transition="dialog-bottom-transition" width="max">
        <template v-slot:activator="{ props }">
          <div class="event-attendees d-flex align-center" v-bind="props">
            <span class="text-medium-emphasis mr-2"
              >{{ attendees.length }}<v-icon icon="mdi-account"></v-icon
            ></span>
            <div class="d-flex align-center">
              <ProfileAvatar
                v-for="attendee of displayAttendees"
                :key="attendee.id"
                :avatar="attendee.avatar"
                :lastAvatar="attendee.id === avatarsCount"
              />
            </div>
          </div>
        </template>
        <template v-slot:default="{ isActive }">
          <v-card elevation="12">
            <v-card-title>{{ title }}</v-card-title>
            <v-card-subtitle>účastníci</v-card-subtitle>
            <v-card-text>
              <div
                v-for="attendee of attendees"
                :key="attendee.id"
                class="d-flex align-center mb-2"
              >
                <ProfileAvatar :avatar="attendee.avatar" :size="50" />
                <p class="ml-2">{{ attendee.name }}</p>
              </div>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn variant="text" @click="isActive.value = false"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </div>
  </v-card>
</template>

<script setup>
import { defineProps, computed } from "vue";

import ProfileAvatar from "./ProfileAvatar.vue";

const avatarsCount = 4;

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  start: {
    type: Date,
    required: true,
  },
  end: {
    type: Date,
    required: true,
  },
  location: {
    type: String,
    required: true,
  },
  locked: {
    type: Boolean,
    default: false,
  },
  attendees: {
    type: Array,
    default: () => [],
  },
  attending: {
    type: Boolean,
    default: false,
  },
});

const displayAttendees = computed(() => {
  return props.attendees.slice(0, avatarsCount);
});

const displayTime = computed(() => {
  const start = props.start.toLocaleTimeString("sk-SK", {
    hour: "2-digit",
    minute: "2-digit",
  });
  const end = props.end.toLocaleTimeString("sk-SK", {
    hour: "2-digit",
    minute: "2-digit",
  });

  return `${start} - ${end}`;
});
</script>

<style scoped>
.event-attendees {
  transform: translateX(18px);
}
</style>
