<template>
  <div class="mb-8">
    <h2 class="text-h5">{{ title }}</h2>
    <p class="text-medium-emphasis text-caption mb-3 mt-1">
      {{ subtitle }}
    </p>

    <div class="mt-2">
      <v-skeleton-loader v-if="loading" type="list-item-three-line">
      </v-skeleton-loader>

      <EventCard
        v-else
        width="100%"
        v-for="event of events"
        :key="event.id"
        :title="event.title"
        :start="event.start"
        :end="event.end"
        :location="event.location"
        :locked="event.locked"
        :attendees="event.attendees"
        :attending="event.attending"
        @click="toggleAttending(event)"
      />

      <v-card
        :disabled="true"
        class="mt-2"
        v-if="!events.length && !loading"
        prepend-icon="mdi-information-outline"
      >
        <template v-slot:title>Žiadne udalosti</template>

        <v-card-text>
          Na zvolený deň nie sú naplánované žiadne udalosti.
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script setup>
import EventCard from "@/components/EventCard.vue";
import { VSkeletonLoader } from "vuetify/lib/labs/components.mjs";
import { useAppStore } from "@/store/app";

import { defineProps } from "vue";
defineProps({
  title: {
    type: String,
    required: true,
  },
  subtitle: {
    type: String,
    required: true,
  },
  loading: {
    type: Boolean,
    default: false,
  },
  events: {
    type: Array,
    default: () => [],
  },
});

const appStore = useAppStore();
const toggleAttending = appStore.toggleAttending;
</script>
