<template>
  <v-layout class="overflow-visible position-fixed w-100" style="bottom: 0">
    <v-bottom-navigation
      v-model="highlightedPage"
      color="primary"
      grow
      mode="shift"
      style="height: 80px"
      :elevation="4"
    >
      <v-btn @click="router.push({ name: 'Plan' })">
        <v-icon size="large" class="mb-1">mdi-view-day-outline</v-icon>
        Plán
      </v-btn>

      <v-btn @click="router.push({ name: 'Calendar' })">
        <v-icon size="large" class="mb-1">mdi-calendar-blank-outline</v-icon>
        Kalendár
      </v-btn>

      <v-btn @click="router.push({ name: 'Profile' })">
        <v-icon size="large" class="mb-1">mdi-account-edit-outline</v-icon>
        Profil
      </v-btn>
    </v-bottom-navigation>
  </v-layout>
</template>

<script setup>
import { ref } from "vue";
import router from "@/router";

const highlightedPage = ref(0);

const activePage = router.currentRoute.value.name;
if (activePage === "Plan") highlightedPage.value = 0;
if (activePage === "Calendar") highlightedPage.value = 1;
if (activePage === "Profile") highlightedPage.value = 2;
</script>
