<template>
  <v-container
    class="fill-height d-flex flex-column align-center justify-space-between"
  >
    <div></div>

    <div class="text-center">
      <v-img :src="Tower" width="80" class="mx-auto mb-12"></v-img>

      <v-btn
        variant="text"
        class="ml-auto"
        prepend-icon="mdi-login"
        @click="router.push({ name: 'Login' })"
        >Prihlásiť sa</v-btn
      >
    </div>

    <div class="text-center mt-16">
      <v-btn
        href="https://gitlab.com/rastockydevlab"
        target="_blank"
        prepend-icon="mdi-gitlab"
        size="small"
        variant="text"
        color="grey-darken-3"
        >GitLab</v-btn
      >
    </div>
  </v-container>
</template>

<script setup>
import Tower from "@/assets/tower.svg";
import router from "@/router";
</script>
