<template>
  <v-progress-linear
    class="position-fixed"
    v-if="inProgress"
    indeterminate
    color="yellow-darken-2"
  ></v-progress-linear>

  <v-container class="mt-8">
    <div class="w-100">
      <v-img class="mx-auto my-12" max-width="140" :src="Logo"></v-img>

      <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="400">
        <v-text-field
          v-model="email"
          density="compact"
          clearable
          label="Email"
          variant="outlined"
          width="100%"
        ></v-text-field>

        <v-text-field
          v-model="password"
          class="mt-2"
          :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
          :type="visible ? 'text' : 'password'"
          density="compact"
          label="Heslo"
          variant="outlined"
          @click:append-inner="visible = !visible"
        ></v-text-field>

        <div class="d-flex justify-space-between align-center mt-6">
          <!-- <router-link class="text-decoration-none" to="/hehe"
            >Zabudnuté heslo</router-link
          > -->
          <v-btn
            color="primary"
            variant="tonal"
            class="ml-auto"
            prepend-icon="mdi-login"
            @click="logIn"
          >
            Prihlásiť
          </v-btn>
        </div>
      </v-card>
    </div>
  </v-container>

  <v-snackbar v-model="snackbar" :timeout="2000" color="error" variant="tonal">
    <template v-slot:actions>
      <v-btn variant="text" @click="snackbar = false">
        <v-icon icon="mdi-close"></v-icon>
      </v-btn>
    </template>
    Nesprávne prihlasovacie údaje.
  </v-snackbar>
</template>

<script setup>
import { ref } from "vue";
import { useUserStore } from "@/store/user";
const userStore = useUserStore();

import Logo from "@/assets/logo.svg";
import router from "@/router";
const inProgress = ref(false);
const snackbar = ref(false);
const visible = ref(false);

const email = ref("");
const password = ref("");

const logIn = async () => {
  inProgress.value = true;
  const success = await userStore.logIn({
    email: email.value,
    password: password.value,
  });
  inProgress.value = false;

  if (success) {
    router.push({ name: "Plan" });
  } else {
    snackbar.value = true;
  }
};
</script>

<style scoped>
.v-progress-linear {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
</style>
