<template>
  <div>
    <v-img
      :width="size"
      :height="size"
      aspect-ratio="1/1"
      :class="['avatar', lastAvatar ? 'lastAvatarImg' : '']"
      :src="avatar"
      :alt="`${name}'s avatar`"
    ></v-img>
  </div>
</template>

<script setup>
import { defineProps } from "vue";

defineProps({
  name: {
    type: String,
    default: "TESTSTST",
  },
  avatar: {
    type: String,
    required: true,
  },
  size: {
    type: Number,
    default: 35,
  },
  lastAvatar: {
    type: Boolean,
    default: false,
  },
});
</script>

<style scoped>
.avatar {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  border: 3px solid rgba(255, 255, 255, 0.14);
  background-color: rgba(255, 255, 255, 0.069);
}

.lastAvatarImg {
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    rgba(0, 0, 0, 0.5) 15%,
    rgba(0, 0, 0, 0.1) 43%,
    transparent 60%
  );
  mask-image: linear-gradient(
    to right,
    black 0%,
    rgba(0, 0, 0, 0.5) 15%,
    rgba(0, 0, 0, 0.1) 43%,
    transparent 60%
  );
}
</style>
