<template>
  <v-app v-bind="themeProps">
    <GlobalMenu v-if="showGlobalMenu()" />
    <default-view class="pb-12" />
  </v-app>
</template>

<script setup>
import DefaultView from "./View.vue";
import GlobalMenu from "@/components/GlobalMenu.vue";
import router from "@/router";

function showGlobalMenu() {
  return !router.currentRoute.value.meta.hideMenu;
}

// WTF but for now fine...
const themeProps = {
  theme: "light",
};

const darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)");
const isDarkMode = darkModeMediaQuery.matches;

themeProps.theme = isDarkMode ? "dark" : "light";

darkModeMediaQuery.addEventListener("change", (e) => {
  const isDarkMode = e.matches;
  themeProps.theme = isDarkMode ? "dark" : "light";
});
</script>
